<div class="thumbnail">
  <form #f="ngForm" (ngSubmit)="update(f.value, f.valid)" novalidate>
    
    <p-tabView>
      <p-tabPanel header="Kontaktdaten" [selected]="true">
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'title')">
          <label for="title">Product title:</label>
          <input id="title" placeholder="Title" class="form-control" type="text" ng-control="title" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'title')">title is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'title')">Type at least 3 characters</span>
        </div>
        
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'title')">
          <label for="name">Name:</label>
          <input id="name" placeholder="Name" class="form-control" type="text" ng-control="name" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'name')">name is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'name')">Type at least 3 characters</span>
        </div>
        
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'vorname')">
          <label for="vorname">Vorname:</label>
          <input id="vorname" placeholder="Vorname" class="form-control" type="text" ng-control="vorname" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'vorname')">vorname is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'vorname')">Type at least 3 characters</span>
        </div>
        
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'titel')">
          <label for="titel">Titel:</label>
          <input id="titel" placeholder="Titel" class="form-control" type="text" ng-control="titel">
        </div>
        
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'plz')">
          <label for="plz">PLZ:</label>
          <input id="plz" placeholder="PLZ" class="form-control" type="text" ng-control="plz" required minlength="5">
          <span [hidden]="!f.form.hasError('required', 'plz')">PLZ is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'plz')">Type at least 5 characters</span>
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'ort')">
          <label for="ort">Ort:</label>
          <input id="ort" placeholder="Ort" class="form-control" type="text" ng-control="ort" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'ort')">Ort is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'ort')">Type at least 3 characters</span>
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'strasse')">
          <label for="strasse">Strasse:</label>
          <input id="strasse" placeholder="Strasse" class="form-control" type="text" ng-control="strasse" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'strasse')">Strasse is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'strasse')">Type at least 3 characters</span>
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'hausnummer')">
          <label for="hausnummer">Hausnummer:</label>
          <input id="hausnummer" placeholder="Hausnummer" class="form-control" type="text" ng-control="hausnummer" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'hausnummer')">Hausnummer is required</span>
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'stadtteil')">
          <label for="stadtteil">Stadtteil:</label>
          <input id="stadtteil" placeholder="Stadtteil" class="form-control" type="text" ng-control="stadtteil" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'stadtteil')">Stadtteil is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'stadtteil')">Type at least 3 characters</span>
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'telefon')">
          <label for="telefon">Telefon:</label>
          <input id="telefon" placeholder="Telefon" class="form-control" type="text" ng-control="telefon" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'telefon')">Telefon is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'stadtteil')">Telefon at least 3 characters</span>
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'mobil')">
          <label for="mobil">Mobil:</label>
          <input id="mobil" placeholder="Mobil" class="form-control" type="text" ng-control="mobil" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'mobil')">Mobil is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'mobil')">Type at least 3 characters</span>
        </div>

        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'email')">
          <label for="email">Email:</label>
          <input id="email" placeholder="EMail" class="form-control" type="text" ng-control="email" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'email')">EMail is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'email')">Type at least 3 characters</span>
        </div>
        
        <div class="form-group">
          <label for="beschreibung">Beschreibung:</label>
          <textarea pInputTextarea [(ngModel)]="beschreibung" autoResize="autoResize"/>
        </div>
         
        <div class="form-group"">
          <label for="beratung">Beratung:</label>
          <p-checkbox [(ngModel)]="beratung"></p-checkbox> 
        </div>
         
        <div class="form-group"">
          <label for="gespraech">Gespräch:</label>
          <p-checkbox [(ngModel)]="gespraech"></p-checkbox> 
        </div>
         
        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'website')">
          <label for="website">Website:</label>
          <input id="website" placeholder="Website" class="form-control" type="text" ng-control="website" required minlength="3">
          <span [hidden]="!f.form.hasError('required', 'website')">Website is required</span>
          <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'website')">Type at least 3 characters</span>
        </div>


        <div class="form-group"
          [class.has-error]="f.form.hasError('minlength', 'title')">
          <label for="title">Categories:</label>
          <p-multiSelect [options]="categories" [(ngModel)]="selectedCategories"></p-multiSelect>
           <span class="help-block" [class.hidden]="!f.form.hasError('minlength', 'title')">Type at least 3 characters</span>
        </div>

        <div class="form-group">
          <label for="title">Bild hochladen:</label>
          <input type="file" ng-control="files" (change)="addPic($event.target.files[0])">
        </div>
      </p-tabPanel>
      
      <p-tabPanel header="Qualifikationen">
        <div class="form-group">
          <label for="fachgebiete">Fachgebiete:</label>
          <p-multiSelect [options]="fachgebiete" [(ngModel)]="selectedFachgebiete"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="schwerpunkte">Schwerpunkte:</label>
          <p-multiSelect [options]="schwerpunkte" [(ngModel)]="selectedSchwerpunkte"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="ausbMediat">Ausbildung Mediation:</label>
          <p-multiSelect [options]="ausbMediat" [(ngModel)]="selectedAusbMediat"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="seit">Mediator seit:</label>
          <p-calendar [(ngModel)]="seit" dateFormat="yyyy.mm.dd"></p-calendar>
        </div>
        <div class="form-group">
          <label for="quellberufe">Ursprungsberuf:</label>
          <p-multiSelect [options]="quellberufe" [(ngModel)]="selectedQuellberufe"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="ausbQuellberufe">Ausbildung Ursprungsberuf:</label>
          <p-multiSelect [options]="ausbQuellberufe" [(ngModel)]="selectedAusbQuellberufe"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="branchen">Branchen:</label>
          <p-multiSelect [options]="branchen" [(ngModel)]="selectedBranchen"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="verbaende">Verbände:</label>
          <p-multiSelect [options]="verbaende" [(ngModel)]="selectedVerbaende"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="medien">Medien:</label>
          <p-multiSelect [options]="medien" [(ngModel)]="selectedMedien"></p-multiSelect>
        </div>



      </p-tabPanel>
    </p-tabView>

    <div class="form-group">
    <button type="submit"
            class="btn btn-primary btn-block">Speichern</button>
    </div>
  </form>
</div>
<!-- <div class="form-group">
  <label for="category">Product category:</label>
  <select id="category"
    class="form-control"
    ngControl="category">
    <option value="-1">All categories</option>
    <option *ngFor="#c of categories"
    [value]="c">{{c}}</option>
  </select>
</div>

<div class="form-group">
  <label for="emails">EMails: </label>
  <ul ngControlGroup="emails">
    <li *ngFor="#e of emailsControlArray.controls; #i = index">
      <input ngControl="{{i}}">
    </li>
  </ul>
</div>

<div class="form-group">
    <label for="emails">EMails: </label>
    <span class="label round" *ngFor="#e of emails; #i = index">
      test
    </span>
</div>

<div class="form-group">
  <select id="email"
    class="form-control"
    ngControl="email"
    (change)="addEmail($event.target.value)">
    <option value="-1">Bitte auswählen</option>
    <option *ngFor="#c of categories"
    [value]="c">{{c}}</option>
  </select>

  <button type="button" (click)="addEmail()">{{emailsControlArray.controls.length+1}}.Email hinzufügen</button>

</div> -->
