<div class="thumbnail">
  <form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>

    <div class="form-group"
      [class.has-error]="formModel.hasError('minlength', 'title')">
      <label for="title">Product title:</label>
      <input id="title"
      placeholder="Title"
      class="form-control"
      type="text"
      ng-control="title"
      minlength="3">
      <span class="help-block"
        [class.hidden]="!formModel.hasError('minlength', 'title')">
        Type at least 3 characters
      </span>
    </div>

    <div class="form-group"
      [class.has-error]="formModel.hasError('minlength', 'title')">
      <label for="title">Categories:</label>
      <ng-select [allowClear]="true"
                  [items]="categories"
                  [disabled]="disabled"
                  (data)="refreshValue($event)"
                  (selected)="selected($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  placeholder="No city selected">
      </ng-select>
      <span class="help-block"
          [class.hidden]="!formModel.hasError('minlength', 'title')">
          Type at least 3 characters
      </span>
    </div>

    <div class="form-group">
      <label for="title">Bild hochladen:</label>
      <input type="file" ng-control="files" (change)="addPic($event.target.files)">
    </div>
    
    <div class="form-group">
    <button type="submit"
            class="btn btn-primary btn-block">Speichern</button>
    </div>
  </form>
</div>
<!-- <div class="form-group">
  <label for="category">Product category:</label>
  <select id="category"
    class="form-control"
    ngControl="category">
    <option value="-1">All categories</option>
    <option *ngFor="#c of categories"
    [value]="c">{{c}}</option>
  </select>
</div>

<div class="form-group">
  <label for="emails">EMails: </label>
  <ul ngControlGroup="emails">
    <li *ngFor="#e of emailsControlArray.controls; #i = index">
      <input ngControl="{{i}}">
    </li>
  </ul>
</div>

<div class="form-group">
    <label for="emails">EMails: </label>
    <span class="label round" *ngFor="#e of emails; #i = index">
      test
    </span>
</div>

<div class="form-group">
  <select id="email"
    class="form-control"
    ngControl="email"
    (change)="addEmail($event.target.value)">
    <option value="-1">Bitte auswählen</option>
    <option *ngFor="#c of categories"
    [value]="c">{{c}}</option>
  </select>

  <button type="button" (click)="addEmail()">{{emailsControlArray.controls.length+1}}.Email hinzufügen</button>

</div> -->
